:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary-bacground: #070707;
  --sencondary-bacground: #1A1A1A;
}

body {
 margin: 0;
 padding: 7px;
 display: flex;
 user-select: none;
 user-zoom: none;
 box-sizing: border-box;
 flex-direction: column;
 justify-content: center;
 background-color: var(--primary-bacground);
}

p {
 margin: 0;
 color: #ccdfeb;
 font-family: Arial, Helvetica, sans-serif;
}